
  #actualizar {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    font-size: 1em; 
    font-family: sans-serif; 
    background-image: url('../img/foto.jpg');
    background-size: cover;
  }
  
  #actualizar label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  #actualizar input{
    width: 20%;
    height: 20%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #actualizar button {
    background-color: #980081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  button :hover {
    background-color: #3e8e41;
  }